 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis mattis ante. In nibh justo, porttitor ac ornare vitae, semper mollis enim. Maecenas consectetur, augue at rutrum ultricies, arcu neque posuere massa, sed iaculis tortor urna in elit. Nullam et ex vel ligula aliquam vestibulum vestibulum ut enim. Suspendisse nec iaculis est. Vivamus dolor ipsum, rutrum sed odio sed, pretium vulputate risus. Phasellus augue orci, mattis id auctor at, maximus pharetra nulla. Maecenas sit amet fringilla libero.</p>
                </div>
                <div class="col-lg-4">
                    <p>Duis ornare a diam non consectetur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut ultrices massa sed turpis vestibulum, a congue enim fermentum. Donec ut tortor sit amet nibh tristique interdum fermentum vel est. Donec dignissim, est quis laoreet ultricies, elit risus efficitur felis, ut tempus diam felis in leo. Curabitur sed feugiat mauris. Sed sem tellus, faucibus non ex at, luctus porttitor odio. Nunc lacus odio, pulvinar scelerisque malesuada id, viverra maximus leo. Etiam vehicula imperdiet ultrices. Aenean fringilla at leo in vestibulum. Nam eget porttitor dolor. Cras congue velit vel finibus pharetra.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=CZ7JY2XQN4NSL" class="btn btn-lg btn-outline">
                        Donate
                    </a>
                </div>
            </div>
        </div>
    </section>
