 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        Born and raised in Salt Lake City, Noah has been a proud resident of District 5 his entire life.
                        Noah attended West High School, before graduating from the University of Utah with a Bachelor of Arts
                        in History. A member of Temple Har Shalom in Park City, Noah serves his community as a teacher in the
                        temple's after school program, coordinator of the teen youth group, and mentor to the school's youth
                        teaching assistants.<br><br>

                        As an intern at the Utah State Legislature for the 2016 general session, Noah gained a unique
                        perspective on government. In his time at the legislature, he was proud to help legalize needle exchange
                        programs and expand access to the lifesaving drug Naloxone. He worked to find bi-partisan solutions to
                        issues like the opioid epidemic currently ravaging our communities and the youth suicide crisis that
                        touches the lives of far too many of our state’s children. As councilor, Noah will put to use the
                        relationships and experience he got on the Hill, in order to advocate for the city he calls home.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                        As Director of Field Operations for Representative Carol Spackman Moss' 2016 re-election
                        campaign, Noah has demonstrated his commitment to diversifying representation in Utah’s political
                        sphere. He believes that Utah’s electorate should actively represent the citizens it serves; every voice
                        matters and every vote counts. Furthermore, as a member of the LGBT community, Noah knows that
                        diversity is key to balanced leadership. Noah has worked to give a platform to marginalized people in
                        Utah, and will take a proactive approach to gender and sexuality diversity in a city with rich cultural
                        history and a diverse, energized, and passionate population.<br><br>

                        In Noah's current work for Valley Behavioral Health, he helps provide mental health and
                        substance use disorder services to communities that are often left behind. As one of the leading causes
                        of death in Utah and across the nation, he believes that substance abuse is an issue of public health, and
                        intends to treat it as such.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-donations">
                        <input type="hidden" name="no_shipping" value="2">
                        <input type="hidden" name="hosted_button_id" value="CZ7JY2XQN4NSL">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form> -->
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=CZ7JY2XQN4NSL" class="btn btn-lg btn-outline">
                        Donate
                    </a>
                </div>
            </div>
        </div>
    </section>
