 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                    <p>
                        Born and raised in Salt Lake City, Noah has been a proud resident of District 5 his entire life. Noah attended West High School, before graduating from the University of Utah with a Bachelor of Arts in History. He has worked as an intern with the State Legislature and on a variety of campaigns for state and local office. In his current work for Valley Behavioral Health, he helps provide mental health and substance use disorder services to communities that are often left behind.
                    </p>
                    <p>
                        He feels that Utah’s electorate should actively represent the citizens it serves; every voice matters and every vote counts. Furthermore, as a member of the LGBT community, Noah knows that diversity is key to balanced leadership. Noah has worked to give a platform to marginalized people in Utah, and will take a proactive approach to gender and sexuality diversity in a city with rich cultural history and a diverse, energized, and passionate population.


                    </p>
            <!---     </div> -->
            <!---     <div class="col-lg-4"> -->
                    <p>
                      Noah believes that the City of Salt Lake stands at a crossroads. Now is the time to decide what our city looks like, for ourselves and for future generations. We have to decide if we want our teachers and firefighters to commute from far outside our city, or if we will welcome them into our communities. We have to decide if we want a city choked by car traffic, or if we can all breathe easier while riding a modern, integrated mass transit network. Most importantly, we have to decide if we want our city’s government to reflect only the interests of its wealthiest citizens, or if we want our leaders to represent the diverse communities who rely on them every day.
                    </p>
                      <p>
                      Noah will stand up for his constituents and stand by his convictions, especially when special interests and lobbyists work against the public good. He knows that government can be a force for positive change, but it must be staffed by dedicated public servants who are devoted to improving the lives of the city’s residents.  He is committed to that goal and committed to you, as he thinks every member of our government should be. He will work tirelessly to further the interests of his constituents and to brighten the future of our city.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-donations">
                        <input type="hidden" name="no_shipping" value="2">
                        <input type="hidden" name="hosted_button_id" value="CZ7JY2XQN4NSL">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form> -->
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=CZ7JY2XQN4NSL" class="btn btn-lg btn-outline">
                        Donate
                    </a>
                </div>
            </div>
        </div>
    </section>
